* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Dancing Script';
    src: url('/font/DancingScript-VariableFont_wght.ttf');
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lora', serif;
    background-color: white;
    color: #032433;
}

h1 {
    font-size: 2.6rem;
}

li, button, input, p, label {
    font-size: 2rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4, h5 {
    font-size: 2.8rem;
}

a {
    color: white;
    text-decoration: none;
}

/* Default (background #032433 and white text for "Home" section) */
.main-head{
  background: #032433;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 3;
  transition: background 0.3s, color 0.3s; /* Smooth transition effect */
}

ul li a {
  color: white;
}

/* When scrolled to "Skills", "Projects", or "Contact" (transparent background and #032433 text color) */
.main-head.transparent, ul li a.transparent{
  background: transparent;
  color: #032433;
}

button {
    padding: 2rem 6rem;
    background: #032433;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
    border-radius: 5px;
    color: white;
}

button:hover {
    background: #596a72;
}

nav {
  padding: 2rem;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.home, .skills, .projects, .contact {
  position: relative;
  padding: 0.5rem;
  text-decoration: none;
}

.home:hover::after, .skills:hover::after, .projects:hover::after, .contact:hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: #596a72;
  border-radius: 1px;
}

#logo {
    flex: 2 1 40rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 3.6rem;
}

.hero {
    min-height: 90vh;
    background: #032433;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h3 {
    padding: 5rem;
}

#skills {
    min-height: 50vh;
    padding: 5rem 0;
    text-align: center;
    background: white;
  }
  
  .skills-head h2 {
    margin-bottom: 2rem;
  }
  
  .skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
  }
  
  .skill, .skillc, .skillcplus, .skillcsharp, .skillblender {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
  }
  
  .skill i {
    font-size: 5rem;
    margin-bottom: 0rem;
  }

  .skillc img {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
    margin-bottom: 0rem;
  }

  .skillcplus img, .skillcsharp img, .skillblender img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    margin-bottom: 0rem;
  }
  
  .skill span {
    font-size: 2rem;
  }  

  body {
    font-family: "Lato", sans-serif;
  }
  
  body {
    font-family: "Lato", sans-serif;
  }
  
  #projects {
    padding-block: 5rem;
    text-align: center;
    width: 90%;
    margin: auto;
  }
  
  .projects-head h2 {
    text-transform: capitalize;
    letter-spacing: 0.025em;
  }
  
  .projects-head h3 {
    color: #555;
    margin-bottom: 3rem;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
  }
  
  .card {
    position: relative;
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 18.75rem;
    background: var(--clr);
    border-radius: 1.25rem;
    border-bottom-right-radius: 0;
    overflow: hidden;
  }
  
  .box {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 1.25rem;
  }
  
  .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .icon {
    position: absolute;
    bottom: -0.375rem;
    right: -0.375rem;
    width: 6rem;
    height: 6rem;
    background: var(--clr);
    border-top-left-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
  }
  
  .icon:hover .iconBox {
    transform: scale(1.1);
  }
  
  .iconBox {
    background: #032433;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iconBox i {
    color: #fff;
    font-size: 2rem;
  }  
  
  .iconBox span {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .content {
    padding: 0.938rem 0.625rem;
    text-align: left;
  }
  
  .content h3 {
    font-size: clamp(1.5rem, 1.3909rem + 0.4364vw, 1.8rem);
  }
  
  .content p {
    margin: 0.625rem 0 1.25rem;
    color: #565656;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.625rem;
  }
  
  li {
    text-transform: uppercase;
    background: var(--clr-tag);
    color: #282828;
    padding: 0.375rem 0.625rem;
    border-radius: 3rem;
  }  

#contact {
    min-height: 90vh;
    padding: 5rem 0;
    text-align: center;
    background: #f0f0f0;
}

.form-wrapper {
    background: #032433;
    padding: 2rem;
    width: 50%;
    color: white;
    border-radius: 20px;
    margin: auto;
}

.form-head {
    text-align: center;
    margin-bottom: 2rem;
}

.name-form, .email-form, .message-form {
    margin-bottom: 2rem;
    position: relative;
}

.name-form label, .email-form label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: #ccc;
    transition: top 0.3s, font-size 0.3s, color 0.3s;
    pointer-events: none;
}

.message-form label {
    position: absolute;
    top: 20%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: #ccc;
    transition: top 0.3s, font-size 0.3s, color 0.3s;
    pointer-events: none;
}

.form-wrapper button {
    width: 100%;
    padding: 2rem;
}

.name-form input, .email-form input, .message-form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
    color: white;
}

.name-form input:focus, .email-form input:focus, .message-form textarea:focus {
    outline: none;
    border-color: white;
}

.name-form input:focus + label, .email-form input:focus + label, .message-form textarea:focus + label,
.name-form input:not(:placeholder-shown) + label, .email-form input:not(:placeholder-shown) + label, .message-form textarea:not(:placeholder-shown) + label {
    top: -3px;
    font-size: 1.2rem;
    color: white;
    background-color: #032433;
}

.message-form textarea {
    resize: vertical;
    height: 70px;
}

footer {
    background: #032433;
    color: white;
    padding: 2rem 0;
    position: absolute;
    width: 100%;
}

.footer-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper h5 {
    margin: 0;
}

.footer-wrapper ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.footer-wrapper li {
    margin: 0 1rem;
}

.footer-wrapper img {
    width: 30px;
}